<div class="container">
<br/><div class="card"><h4 class="card-header text-center">Create A New Post</h4>
<div class="card-body">
<%= render "form", blog: @blog %></div></div><br/>
<%= link_to "Back", blogs_path, class: "btn btn-dark" %>
</div>

