<div class="container text-center about"><br/>
  <h4 >About the Creator of the Site</h4>
  <p>This is the first website created by <a href="https://twitter.com/DestinyAigbe5">Destiny Aigbe</a> as i am on my path of learning ruby and on #100daysofcode and i developed this blog site with ruby on rails and bootstrap</p>
  <br/><h4 >About the Site</h4>
  <p>This is a simple blog site where you can make post about things and do basic CRUD (Create, Read, Edit and Destroy). Only the author of a post has the right to edit and destroy it while other people can only read. You can also comment on particular post and other many amazing features.</p>
</div>
<style>
.about {
    background-color = blue
}
</style>