<div class="container text-center">
<br/><h1>Blog App</h1><br/>
<p>Hello there, this a blog posting app where you can post blogs</p>
<br/>

<%= link_to 'Get Started', blogs_path, class: "btn btn-primary"%></div>